
/*Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #b3a9a9;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #0c2d72;
  color: #7b8197;
  padding: 20px 40px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-titulo img {
  height: 50px;
}

.logo-titulo h1 {
  font-size: 24px;
  margin: 0;
}

.contato-header {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 15px;

}

.contato-header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.contato-header a:hover {
  color: #9af3e7;
}

/* Conteúdo principal */
main {
  max-width: 900px;
  margin: 40px auto;
  background: #e7e7e7;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
}

.titulo-central{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #303030;
  padding-bottom: 10px;
}

#filtro {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #303030;;
  border-radius: 6px;
  font-size: 16px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  color: #333;
}

/* Lista de PDFs*/
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}
.link-pdf a{
 display: block;
  background-color: #e9f1fb;
  padding: 15px;
  border-left: 5px solid #0c2d72;
  text-decoration: none;
  color: #0c2d72;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.link-pdf li a:hover {
  background-color: #9af3e7;
}

/* Rodapé */
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  color: #303030;
  padding-bottom: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
  main {
    margin: 20px;
    padding: 20px;
  }

  .topo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contato-header {
    justify-content: center;
    margin-top: 10px;
  }

  a {
    font-size: 16px;
    padding: 12px;
  }

  h1 {
    font-size: 24px;
  }
}